<div class="text-layout">
  <h1>Pipes No Tan Comunes</h1>
  <p>
    Pipes incluidos en Angular -Usualmente en el common Module
  </p>
</div>
<div class="grid">
  <p-fieldset class="col-6" legend="i18nSelect"  [toggleable]="true">
    <p>
      Saludos {{nombre}},es un placer
      {{ genero | i18nSelect:invitacionMapa}}
      a nuestro Evento.
    </p>
    <button pButton  (click)="cambiarCliente()">Cambiar</button>
</p-fieldset>
<p-fieldset  class="col-6" legend="i18nPlural"  [toggleable]="true">
  <p> Actualmente tenemos {{clientes.length | i18nPlural:clientesMapa}} clientes esperando.</p>
 <button pButton (click)="eliminarCliente()">Eliminar</button>
</p-fieldset>
</div>

<div class="grid">
  <p-fieldset class="col-6" legend="Slice Pipe"  [toggleable]="true">
</p-fieldset>
</div>