<!--<h1>Hola Mundo</h1>
<button pButton type="button" label="Click" (click)="mostrarNombre()" ></button>
<button pButton type="button"  icon="pi pi-check" iconPos="left" label="Help" class="p-button-help" ></button>
<p-card [header]="nombre"
        subheader="Este es un subtitulo">
<p>r sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
</p-card>-->
<app-menu></app-menu>
<router-outlet></router-outlet>
